<div class="collapsible collpasible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container">
      <svg class="icon icon--white collapsible-chevron">
        <use xlink:href="./Resources/icons/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime repellendus,
    iste doloremque iure fugiat facilis voluptate? Corporis vel sed repudiandae?
  </div>
</div>
<script src="main.js"></script>
