<section class="block block--dark block--skewed-left hero">
  <header class="container grid grid--1x2">
    <div class="hero__content block__header">
      <h1 class="block__heading">Cloud Hosting for pros</h1>
      <p class="hero__tagline">Deploy your websites less than in 60 seconds</p>
      <a href="" class="btn btn--accent btn--streched">Get Started</a>
    </div>
    <img
      class="hero__image"
      src="./Resources/images/banner.png"
      alt=""
      class="src"
    />
  </header>
</section>
