/* Background Image - Example 1 */

body {
  background: url(../../Resources/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

/* Background Image - Example 2 with background-fixed */

/* body {
    background: url(../../Resources/bg-sanfrancisco.jpg);
    background-repeat: no-repeat;
    height: 300vh;
    background-size: cover;
    background-attachment: fixed;
  } */
