/* grid example  - Placing Items in Named Area */

.container {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 3fr 7fr;
  grid-template-areas:
    "header  header"
    "sidebar main"
    "footer  footer";
  height: 100vh;
  border: 3px solid lightgrey;
  gap: 10px;
}

.box-one {
  grid-area: header;
  background-color: lightgreen;
}

.box-two {
  grid-area: sidebar;
  background-color: gold;
}

.box-three {
  grid-area: main;
  background-color: lightcoral;
}

.box-four {
  grid-area: footer;
  background-color: navajowhite;
}
