body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: gold;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out;
}

.box:hover {
  transform: rotate(45deg);
  background: lightseagreen;
}
